@import url(https://fonts.googleapis.com/css?family=Open+Sans:400|Raleway:300);

$btn-width: 250px !default;
$btn-height: 80px !default;
$btn-full: $btn-height+$btn-width !default;
$btn-half: $btn-full/2 !default;
$bg-color: #eeeeee !default;


hr {
  position: relative;
  top: 20px;
  border: none;
  height: 12px;
  background: black;
  margin-bottom: 50px;
}

[class^="btn-"] {
  position: relative;
  display: block;
  overflow: hidden;
  width: fit-content;
  height: 100px;
  font-size: 3rem;
  margin: 1rem auto;
  text-transform: uppercase;
  border: 1px solid currentColor;
}

.input-field{
  display: flex;
  align-items: baseline;
}
